@charset "utf-8";
/* 공통 요소 */



/* -----------------------------------
   1920px 이상 1920px  (데스크탑)
----------------------------------- */
@media (min-width:1229px) {
  
}

/* -----------------------------------
   테블릿
----------------------------------- */
@media (min-width:768px) and (max-width:1228px) {
  
}


/* -----------------------------------
   모바일
----------------------------------- */
@media (max-width:767px) {

}