@charset "utf-8";

.main_wrap .contents{padding-top: 0;}
.main_wrap .contents .inner{margin:0 auto;box-sizing:border-box;}
.visual_banner{position:relative;width:100%; overflow:hidden;}
.visual_banner .slide_item{width: 100%;height: 980px;}
.visual_banner .slide_item img{width:100%;height:100%;}
.visual_banner .slide_item .slide_inner{position:relative;width:100%;height:100%;box-sizing:border-box}
.visual_banner .slide_item .txt_box{position:absolute;top:416px;left:180px;color:var(--white);}
.visual_banner .slide_item .txt_box .visual_tit{font-size:56px;font-weight:700;line-height: 56px;}
.visual_banner .slide_item .txt_box .visual_desc{margin-top:24px;font-size:18px;line-height:28px}
.visual_banner .slide_item .txt_box .visual_desc span{display:block;}
.visual_banner .swiper-button-next{width:52px;height:52px;background:url(../images/img_banner_arr_r.png) 100%/ 100% no-repeat; right:64px;}
.visual_banner .swiper-button-prev{width:52px;height:52px;background:url(../images/img_banner_arr_l.png) 100%/ 100% no-repeat; left:64px}

.visual_banner .swiper-button-next::after,
.visual_banner .swiper-button-prev::after{font-size:0}
.visual_banner .custom-bar-wrap {display: flex;align-items: center; position: absolute;bottom: 80px;left: 50%;transform: translateX(-50%);z-index: 1;box-sizing: border-box; width: 100%;height: 16px;gap:24px;padding:0 180px;}
.visual_banner .custom-bar-wrap .custom-bar-progress {flex:1;height: 4px;z-index: 10}
.visual_banner .custom-bar-progress .progress_wrap {display: flex;justify-content: space-between;width: 100%;height: 100%}
.visual_banner .custom-bar-progress .progress_item {width: calc(100% / var(--swiper-total-slides) - var(--bar-gap-px));height: 100%;background: rgba(255, 255, 255, 0.2);position: relative;overflow: hidden;cursor: pointer;} 
.visual_banner .custom-bar-progress .progress_bar {position: absolute;top: 0;left: 0;width: 0%;height: 100%;background: var(--white);}/* 채워지는 BAR */
.visual_banner .autoplay-toggle-btn {display: flex;align-items: center;justify-content: center;width: 16px;height: 16px;background-color: transparent;border: none;cursor: pointer;padding: 0;z-index: 10;}
.visual_banner .autoplay-toggle-btn.pause::before {content: ''; display: block;color: #fff;font-family: sans-serif;width: 9px;height: 16px;background: url(../images/img_pause.png) 100% / 100% no-repeat;}/* Pause 상태 아이콘 */
.visual_banner .autoplay-toggle-btn.play::before {content: '▶'; display: block;color: #fff;font-size: 14px;line-height: 16px;margin-left: 3px;}/* Play 상태 아이콘 */